layout {
    focus-ring {
        active-color "#7ed0ff"
        inactive-color "#88929a"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#7ed0ff"
        inactive-color "#88929a"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#7ed0ff"
        inactive-color "#88929a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#7ed0ff80"
    }
}

