environment {                                                                                                                                               
  XDG_CURRENT_DESKTOP "niri"
  QT_STYLE_OVERRIDE "kvantum"
}  
